*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}

body
{
    font-family: serif;
}

.header
{
    width: 100%;
    background: black;
}

.nav
{
    display: flex;
    justify-content: center;
}


.menu
{
    display: flex;
    list-style: none;
}

.submenu
{
    position: absolute;
    top: 100%;
    background: black;
    flex-direction: column;
    display: none;

}
.submenu .submenu
{
    left: 100%;
    top: 0;
}

.item:hover > .submenu{
    display: flex;
}

.item{
    position: relative;
}

.link
{
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: aliceblue;
    text-decoration: none;
    width: 100%;
}

.link:hover
{
    background: gray;
}